{{define "footer"}}

</div>

<br/><br/>
<div class="footer-copyright text-center py-3">© 2023 Copyright:
   <a href="https://linkedin.com/in/criarsite">Go Developer Portugal</a>
  </div>



</body>
</html>
{{end}}